.main-page-wrapper {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

//boxes
.main-boxes {
  font-family: $font-header;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

#order-link {
  background-image: url(/images/assets/pizza-1.jpg);
  background-position: center;
  background-size: cover;
}

#booking-link {
  background-image: url(/images/assets/pizza-2.jpg);
  background-position: center;
  background-size: cover;
}

.main-boxes a {
  width: 49%;
  height: 120px;
  margin: 2px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 75px;
  color: #fff;
  text-align: center;
  overflow: hidden;

  .box-title {
    margin-top: 35px;
    font-size: 30px;
    padding: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 200;
    margin-top: 20px;
  }
}

.main-boxes a:hover {
  .box-title {
    margin-top: 10px;
    transition-duration: 1s;
  }

  p {
    transition-duration: 1s;
    margin: 0;
  }
}

.opening-box {
  width: 100%;
  height: 120px;
  margin: 4px;
  border-radius: 5px;
  background-color: $color-main;
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;

  p {
    line-height: 25px;
  }

  span {
    font-size: 16px;
    font-weight: 200;
  }
}

.slide {
  display: flex;
  margin: 10px;

  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .slide-content {
    margin: 0 15px;
    padding: 0;

    h1 {
      margin: 7px;
    }

    p:last-child {
      font-style: italic;
    }
  }
}

// gallery
.img-1 { background-image: url(/images/assets/pizza-4.jpg); }

.img-2 { background-image: url(/images/assets/pizza-5.jpg); }

.img-3 { background-image: url(/images/assets/pizza-6.jpg); }

.img-4 { background-image: url(/images/assets/pizza-7.jpg); }

.img-5 { background-image: url(/images/assets/pizza-8.jpg); }

.img-6 { background-image: url(/images/assets/pizza-9.jpg); }

.gallery {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .gallery-image {  
    width: 200px;
    height: 200px;
    margin: 4px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
  }

  .overlay-icon {
    width: 200px;
    height: 200px;
    text-align: center;
    position: absolute;
    padding-top: 80px;
    z-index: -1;
    font-size: 30px;
    background-color: rgba(0,0,0,0.5);
    display: block;
    transition-duration: 1s;
  }

  .overlay-icon a {
    color: $color-light;
    text-decoration: none;
  }

  .gallery-image:hover {
    transition-duration: 1s;
    z-index: 1;
    background-position: inherit;
  }

  .gallery-image:hover .middle  {
    z-index: 1;
    transition-duration: 1s;
  }

  .fa-heart:hover {
    color: $color-main;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  
  .fa-share-alt:hover {
    color: $color-main;
    cursor: pointer;
    transition-duration: 0.3s;
  }  
}

// footer
footer a {
  color: $color-main;
  font-size: 16px;
  margin-left: 20px;
}
